body{
    background-color: rgb(15, 15, 211);
    color: rgb(113, 23, 197);
}
section{
    background-color: rgb(204, 35, 35);
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
margin-right: 40px;
}
img{
 height: 200px;
}
.categoria-videos{
    display: flex;
overflow-x: auto;
gap: 10px;
}